<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rewriteMaps>
                <rewriteMap name="HubStatus" />
            </rewriteMaps>
            <rules>
                <rule name="HubStatus- inbound" patternSyntax="ExactMatch">
                    <match url="hubstatus.info" />
                    <action type="Rewrite" url="hubstatus.info:3000" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
