extends layout
block body-content
    div#content
        h2
          a(href="/faq") HubStatus.info - Frequently Asked Questions

        div#twitter
          h3
            a(href="#twitter") Where can I get the latest status update if the site isn't accurate?
          p
            | Follow our Twitter account 
            a(href="https://twitter.com/pilanipirates") @PilaniPirates
            |.

        div#banned
          h3
            a(href="#banned") I have been banned from a hub, is there anything I can do?
          p
            | If you were disabled on HD-BITS or DeZire, and you think that it is some mistake,  you can reach us at our #support channels. 
            | We usually do not ban anyone outrightly unless they really did something to piss us off !
          p
            | So, if the ban is temporary, just sit it out for the day, is what we advice. And, if you were permanently disabled, then even crying for help in #support wont help you.
        
        div#reg
          h3
            a(href="#reg") How do I register to DeZire ?
          p
            | Connect to 
            a(href="dchub://172.17.32.45") DeZire 
            | and upon logon, type "!regme password" (without the quotes and replace password with your respective password) to register yourself.
          p
            | Registrations would begin soon and the users will be notified through the hub and also through this website. So please do not keep bugging us about it.
          p
            | Using multiple IPs for registration is strictly discouraged. We maintain all logs to help us track notorious users. So,
          p.center
            strong
              | Do Not Even Think About Using Multiple IPs.
          p
            | Although, if you are from a bhavan with a WiFi and have difficulties registering,
            | reach us at #support or PM any of the Ops. We might be 
            a(href="http://www.dictionary.com/browse/autonomous") autonomous 
            | but also 
            a(href="http://www.dictionary.com/browse/considerate") considerate
            | .
        
        //div#irc-client
          h3
            a(href="#irc-client") How do I join IRC? The Java Applet / Mibbit isn't working.
          p
            | Use a real IRC client:
            h4 Mac
            ul.faq-list
              li Textual
              li Colloquy
              li irssi
              li weechat

            h4 Linux
            ul.faq-list
              li Hexchat
              li irssi
              li weechat

            h4 Windows
            ul.faq-list
              li Hexchat
              li irssi
              li mIRC






